<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button size="small" slot="end" color="danger" (click)="logout()">
      <ion-icon name="log-out-sharp" slot="end"></ion-icon>
      Logout
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Welcome to</ion-card-subtitle>
      <ion-card-title>Qistina's Apps</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="text-align: center;">
      <img src="assets/candies-machine.png" alt="Cute Images"><br>
      <ion-button color="success" (click)="presentPopover()">Run Http</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>